[Desktop Entry]
Type=Application
#Encoding=UTF-8
Version=1.0.3
Name=object-detection
Exec=/usr/bin/detection_stream_demo /usr/share/models/yolov6p5_n.q.onnx /usr/share/models/coco.txt -1 cameraId -t 2
Terminal=true
Icon=/usr/share/icons/bianbu-ai-demo/object-detection.png
