[Desktop Entry]
Type=Application
#Encoding=UTF-8
Version=1.0.3
Name=object-detection
Exec=/usr/bin/detection_stream_demo /usr/share/ai-support/models/yolov6.json 0 cameraId
Terminal=true
Icon=/usr/share/icons/bianbu-ai-demo/object-detection.png
